<div id="comment-{{ comment.id }}">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <span class="text-muted"><i class="fa fa-clock-o"></i> <a ng-click="scrollTo('comment-' + comment.id)" class="clickable">{{ comment.created_at | date: 'yyyy-MM-dd' }}</a></span>
                <a ng-hide="slimmed" class="btn btn-link btn-xs" ng-href="#/"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="panel-body" ng-class="{ 'bg-warning': comment.active }">
            <div marked="comment.content"></div>
        </div>
        <ul ng-hide="slimmed" class="list-group">
            <li class="list-group-item clearfix">
                <div class="pull-left">
                    <a class="btn btn-default btn-sm" ng-href="#/thread/{{ comment.id }}"><i class="fa fa-comments"></i> View thread</a>
                </div>
                <div class="pull-right">
                    <span ng-click="replyTo = (replyTo == comment.id ? null : comment.id)" class="btn btn-default btn-sm" ng-class="{ active: replyTo == comment.id }"><i class="fa fa-reply"></i> Reply</span>
                    <span class="btn btn-default btn-sm"><i class="fa" ng-class="{ 'fa-star': isStarred(comment.stargazers), 'fa-star-o': !isStarred(comment.stargazers) }"></i> {{ comment.stargazers.length }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
