<div class="clearfix" ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
    <div class="pull-right">
        <span ng-show="!isEditing && hovered" ng-click="isEditing = true" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></span>
    </div>
    <div ng-show="isEditing" class="clearfix">
        <markdown-editor content="content"></markdown-editor>
        <div class="pull-left">
            <span ng-show="deletable" ng-click="submission.delete = true" class="btn btn-danger">{{ label.delete }}</span>
        </div>
        <div class="pull-right">
            <span ng-click="isEditing = false" class="btn btn-default btn-sm">{{ label.cancel }}</span>
            <span ng-click="submission.submit = true" class="btn btn-primary btn-sm">{{ label.submit }}</span>
        </div>
    </div>
    <div ng-hide="isEditing">
        <div marked="content | emoji"></div>
    </div>
</div>
