<div class="markdown-editor">
    <div class="form-group">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: isEditing }" ng-click="isEditing = true"><a href="">Edit</a></li>
            <li ng-class="{ active: !isEditing }" ng-click="isEditing = false"><a href="">Preview</a></li>
        </ul>
    </div>
    <div class="form-group">
        <div ng-hide="isEditing" class="preview">
            <div ng-if="content">
                <div marked="content | emoji"></div>
            </div>
        </div>
        <div ng-show="isEditing">
            <textarea ng-model="content" class="form-control edit" placeholder="Markdown is available" ng-required="required"></textarea>
        </div>
    </div>
</div>
