<ol class="breadcrumb">
    <li class="active">Account settings</li>
</ol>

<tabset>
    <tab heading="Profile">
        <div class="tab-content">
                <form ng-submit="updateProfile()" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">User id</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" value="{{ user.id }}" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">Username</label>
                        <div class="col-sm-10">
                            <input ng-model="form.profile.username" class="form-control" type="text" placeholder="johnsmith" required autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Display name</label>
                        <div class="col-sm-10">
                            <input ng-model="form.profile.displayName" class="form-control" type="text" placeholder="John Smith" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Password</label>
                        <div class="col-sm-10">
                            <input ng-model="form.profile.password" class="form-control" type="password" placeholder="**********" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">Email address</label>
                        <div class="col-sm-10">
                            <input ng-model="form.profile.email" class="form-control" type="email" placeholder="john.smith@gmail.com" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Avatar</label>
                        <div class="col-xs-4 col-sm-2">
                            <img class="img-responsive img-rounded" ng-src="{{ $parent.$parent.currentUser.getAvatarUrl() }}" />
                        </div>
                        <div class="col-xs-8 col-sm-8">
                            <div class="input-group">
                                <input class="form-control" type="file" accept="image/*" file-model="avatarFile" />
                                <div class="input-group-btn">
                                    <button ng-click="avatarFile = null" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Update account</button>
                        </div>
                    </div>
                </form>
            </div>
    </tab>

    <tab heading="Notification">
        <div class="tab-content">
            <form ng-submit="saveSetting()" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Notify via email</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input ng-model="form.setting.notification.invited" type="checkbox"/> When you invited to some topics.
                            </label>
                        </div>
                        <div class="checkbox disabled">
                            <label>
                                <input ng-model="form.setting.notification.mentioned" type="checkbox" disabled /> <span tooltip="Upcoming...">When you @mentioned somewhere.</span>
                            </label>
                        </div>
                        <div class="checkbox disabled">
                            <label>
                                <input ng-model="form.setting.notification.starred" type="checkbox" disabled /> <span tooltip="Upcoming...">When your comments are starred somewhere.</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Update account</button>
                    </div>
                </div>
            </form>
        </div>
    </tab>
</tabset>
