<ol class="breadcrumb">
    <li class="active">Topic list</li>
</ol>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Owner</th>
            <th>Title</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Last commented at</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="topic in topics" any-href="#/topic/{{ topic.id }}" class="clickable">
            <td>{{ topic.get('user').get('username') }}</td>
            <td>{{ topic.get('title') }}</td>
            <td class="fixed">
                <ul class="list-inline" style="margin-bottom: 0;">
                    <li><span class="label label-xs label-{{ topic.get('closed') ? 'default' : 'primary' }}">{{ topic.get('closed') ? 'Closed' : 'Open' }}</span></li>
                    <li><i class="fa fa-users"></i> {{ joinerCounts[topic.id] }}</li>
                    <li><i class="fa fa-comment-o"></i> {{ commentCounts[topic.id] }}</li>
                </ul>
            </td>
            <td class="fixed">{{ topic.createdAt | date: 'yyyy-MM-dd' }}</td>
            <td class="fixed">{{ lastCommentedAts[topic.id] | date: 'yyyy-MM-dd' }}</td>
        </tr>
        </tbody>
    </table>
</div>

<style>
    .fixed {
        min-width: 100px;
    }
</style>
