<ol class="breadcrumb">
    <li class="active">Topic list</li>
</ol>

<div class="list-group">
    <a ng-repeat="i in [1,2,3,4,5]" ng-href="#/topic/1" class="list-group-item">
        <h4 class="list-group-item-heading" style="margin-top: .5em; margin-bottom: .8em">Topic title</h4>
        <div class="list-group-item-text clearfix">
            <ul class="list-inline pull-left">
                <li><i class="fa fa-users"></i> 4</li>
                <li><i class="fa fa-comment-o"></i> 23</li>
            </ul>
            <ul class="list-inline pull-right">
                <li><i class="fa fa-clock-o"></i> 2015-06-01</li>
                <li><i class="fa fa-history"></i> 2015-06-12</li>
            </ul>
        </div>
    </a>
</div>
