<div class="col-md-8 col-md-offset-2">
    <h1>{{ topic.title }}</h1>
    <hr/>

    <!-- topic -->
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <span class="text-muted"><i class="fa fa-clock-o"></i> {{ topic.created_at | date: 'yyyy-MM-dd' }}</span>
                <a class="btn btn-link btn-xs" ng-href="#/"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div marked="topic.content"></div>
        </div>
    </div>

    <!-- comments -->
    <div ng-repeat="comment in comments" ng-show="!$parent.replyTo || comment.id <= $parent.replyTo.id" class="panel panel-default" ng-class="{ 'panel-info': $parent.replyTo == comment }">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <span class="text-muted"><i class="fa fa-clock-o"></i> {{ comment.created_at | date: 'yyyy-MM-dd' }}</span>
                <a class="btn btn-link btn-xs" ng-href="#/"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div marked="comment.content"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item clearfix">
                <div class="pull-left">
                    <a class="btn btn-default btn-sm" ng-href="#/thread/{{ comment.id }}"><i class="fa fa-comments"></i> View thread</a>
                </div>
                <div class="pull-right">
                    <span ng-click="$parent.replyTo = comment; " class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Reply</span>
                    <span class="btn btn-default btn-sm"><i class="fa" ng-class="{ 'fa-star': isStarred(comment.stargazers), 'fa-star-o': !isStarred(comment.stargazers) }"></i> {{ comment.stargazers.length }}</span>
                </div>
            </li>
        </ul>
    </div>

    <!-- comment form -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-show="!replyTo"><b><i class="fa fa-comment-o"></i> Leave a comment</b></div>
            <div ng-show="replyTo"><b><i class="fa fa-reply"></i> Reply to this comment</b></div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <ul class="nav nav-tabs">
                    <li ng-class="{ active: isEditing }" ng-click="isEditing = true"><a href="">Edit</a></li>
                    <li ng-class="{ active: !isEditing }" ng-click="isEditing = false"><a href="">Preview</a></li>
                </ul>
            </div>
            <div class="form-group">
                <div ng-show="isEditing">
                    <textarea ng-model="editingContent" class="form-control" placeholder="Markdown is available" style="min-height: 200px;"></textarea>
                </div>
                <div ng-hide="isEditing">
                    <div marked="editingContent" style="min-height: 200px;"></div>
                </div>
            </div>
            <div class="text-right">
                <span ng-show="replyTo" ng-click="replyTo = null" class="btn btn-default btn-sm">Cancel replying</span>
                <span class="btn btn-primary btn-sm">Comment</span>
            </div>
        </div>
    </div>

</div>
