<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Create new thread</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Title" autofocus />
            </div>
            <div class="form-group">
                <ul class="nav nav-tabs">
                    <li ng-class="{ active: isEditing }" ng-click="isEditing = true"><a href="">Edit</a></li>
                    <li ng-class="{ active: !isEditing }" ng-click="isEditing = false"><a href="">Preview</a></li>
                </ul>
            </div>
            <div ng-show="isEditing">
                <div class="form-group">
                    <textarea ng-model="editingContent" class="form-control" rows="10" placeholder="Markdown is available"></textarea>
                </div>
            </div>
            <div ng-hide="isEditing">
                <div marked="editingContent"></div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary">Submit new thread</button>
            </div>
        </div>
    </div>
</div>
