<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Create new thread</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Title" autofocus />
            </div>
            <div class="form-group">
                <ul class="nav nav-tabs">
                    <li class="active"><a ng-href="#/">Edit</a></li>
                    <li ><a ng-href="#/">Preview</a></li>
                </ul>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="10" placeholder="Markdown is available"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-primary">Submit new thread</button>
            </div>
        </div>
    </div>
</div>
