<ol class="breadcrumb">
    <li><a ng-href="#/">Topic list</a></li>
    <li class="active">Topic #{{ topic.id }}</li>
</ol>

<h1>{{ topic.title }}</h1>
<hr/>

<!-- topic -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <span class="text-muted"><i class="fa fa-clock-o"></i> {{ topic.created_at | date: 'yyyy-MM-dd' }}</span>
        </div>
    </div>
    <div class="panel-body">
        <editable-markdown-view content="topic.content" label-submit="Update description" submission="submission"></editable-markdown-view>
    </div>
</div>

<!-- comments -->
<div ng-repeat="comment in comments" ng-show="!replyTo || replyTo == comment.id" id="comment-{{ comment.id }}">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <date-anchor-link date="{{ comment.created_at | date: 'yyyy-MM-dd' }}" base-url="#/topic/{{ topic.id }}" hash="comment-{{ comment.id }}"></date-anchor-link>
            </div>
        </div>

        <div class="panel-body">
            <editable-markdown-view content="comment.content" label-submit="Update comment" submission="submission" deletable></editable-markdown-view>
        </div>

        <ul class="list-group">
            <li class="list-group-item clearfix">
                <div class="pull-left">
                    <a class="btn btn-default btn-sm" ng-href="#/thread/{{ comment.id }}"><i class="fa fa-comments"></i> View thread</a>
                </div>
                <div class="pull-right">
                    <span ng-click="$parent.replyTo = ($parent.replyTo == comment.id ? null : comment.id)" class="btn btn-default btn-sm" ng-class="{ active: $parent.replyTo == comment.id }"><i class="fa fa-reply"></i> Reply</span>
                    <span ng-click="toggleStar(comment)" class="btn btn-default btn-sm"><i class="fa" ng-class="isStarred(comment) ? 'fa-star' : 'fa-star-o'"></i> {{ comment.stargazers.length }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- comment form -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div ng-show="!replyTo"><b><i class="fa fa-comment-o"></i> Leave a comment</b></div>
        <div ng-show="replyTo"><b><i class="fa fa-reply"></i> Reply to this comment</b></div>
    </div>
    <div class="panel-body">
        <markdown-editor content="commentContent"></markdown-editor>
        <div class="text-right">
            <span ng-show="replyTo" ng-click="replyTo = null" class="btn btn-default btn-sm">Cancel</span>
            <span class="btn btn-primary btn-sm">Comment</span>
        </div>
    </div>
</div>
