<ol class="breadcrumb">
    <li><a ng-href="#/list">Topic list</a></li>
    <li><a ng-href="#/topic/{{ topic.id }}">Topic #{{ topic.id }}</a></li>
</ol>

<h2 ng-hide="topic.isEditing" ng-class="{ 'text-muted': topic.closed }">{{ topic.get('title') }}</h2>
<div ng-show="topic.isEditing" style="margin-bottom: .7em;">
    <input class="form-control" type="text" ng-model="topic.editingTitle" />
</div>

<div class="clearfix">
    <ul class="list-inline pull-left">
        <li><span class="label label-sm label-{{ topic.get('closed') ? 'default' : 'primary' }}">{{ topic.get('closed') ? 'Closed' : 'Open' }}</span></li>
        <li class="text-muted"><i class="fa fa-comment-o"></i> {{ comments.length }}</li>
        <li ng-show="lastCommentedAt" class="text-muted"><i class="fa fa-history"></i> {{ lastCommentedAt | date: 'yyyy-MM-dd HH:mm' }}</li>
    </ul>
    <ul class="list-inline pull-right">
        <li class="text-muted"><i class="fa fa-users"></i></li>
        <li ng-repeat="joiner in joiners">{{ joiner.get('username') }}</li>
        <li parse-hide="topic" acl="write"><a class="btn btn-default btn-xs" ng-href="#/topic/{{ topic.id }}/joiners" tooltip="Manage joiners"><i class="fa fa-cog"></i></a></li>
    </ul>
</div>
<hr style="margin-top: .3em;" />

<!-- topic -->
<div class="row">
    <div class="hidden-xs col-sm-1">
        <img class="topic-avatar" ng-src="{{ topic.get('user').get('avatarUrl') || '/images/default-avatar.png' }}" />
    </div>
    <div class="col-xs-12 col-sm-11">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <dvi class="pull-left">
                    <ul class="list-inline" style="margin-bottom: 0;">
                        <li><b><i class="fa fa-user"></i> {{ topic.get('user').get('username') }}</b></li>
                        <li class="text-muted"><i class="fa fa-clock-o"></i> {{ topic.createdAt | date: 'yyyy-MM-dd HH:mm' }}</li>
                    </ul>
                </dvi>
                <div class="pull-right">
                    <span parse-hide="topic" ng-click="topic.isEditing = true" ng-hide="topic.isEditing" class="btn btn-link btn-xs"><i class="fa fa-pencil"></i></span>
                    <span parse-hide="topic" ng-if="!topic.get('closed')" ng-click="updateTopicClosed(topic, true)" class="btn btn-link btn-xs" tooltip="Close"><i class="fa fa-ban"></i></span>
                    <span ng-if="topic.get('closed')" ng-click="updateTopicClosed(topic, false)" class="btn btn-link btn-xs" tooltip="Reopen"><i class="fa fa-circle"></i></span>
                </div>
            </div>

            <div class="panel-body">
                <div ng-show="topic.isEditing" class="clearfix">
                    <markdown-editor content="topic.editingContent"></markdown-editor>
                    <div class="pull-right">
                        <span ng-click="topic.isEditing = false" class="btn btn-default btn-sm">Cancel</span>
                        <span ng-click="updateTopic(topic)" class="btn btn-primary btn-sm">Update description</span>
                    </div>
                </div>
                <div ng-if="topic.get('content')" ng-hide="topic.isEditing">
                    <div marked="topic.get('content') | emoji"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comments -->
<div ng-repeat="comment in comments" ng-show="!replyTo || replyTo == comment" id="comment-{{ comment.id }}">
    <div class="row">
        <div class="hidden-xs col-sm-1">
            <img class="topic-avatar" ng-src="{{ comment.get('user').get('avatarUrl') || '/images/default-avatar.png' }}" />
        </div>
        <div class="col-xs-12 col-sm-11">
            <div class="panel panel-default" hash-focused-class="panel-info" hash="comment-{{ comment.id }}">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <ul class="list-inline" style="margin-bottom: 0;">
                            <li><b><i class="fa fa-user"></i> {{ comment.get('user').get('username') }}</b></li>
                            <li><a ng-href="#/topic/{{ topic.id }}#comment-{{ comment.id }}"><i class="fa fa-clock-o"></i> {{ comment.createdAt | date: 'yyyy-MM-dd HH:mm' }}</a></li>
                            <li ng-if="comment.get('replyTo')">
                                <a class="btn btn-link btn-xs" ng-href="#/topic/{{ topic.id }}#comment-{{ comment.get('replyTo').id }}"><i class="fa fa-reply"></i> Replying</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <span parse-hide="comment" ng-click="comment.isEditing = true" ng-hide="comment.isEditing" class="btn btn-link btn-xs"><i class="fa fa-pencil"></i></span>
                        <span parse-hide="comment" ng-click="deleteComment(comment)" class="btn btn-link btn-xs"><i class="fa fa-times"></i></span>
                    </div>
                </div>

                <div class="panel-body">
                    <div ng-show="comment.isEditing" class="clearfix">
                        <markdown-editor content="comment.editingContent"></markdown-editor>
                        <div class="pull-right">
                            <span ng-click="comment.isEditing = false" class="btn btn-default btn-sm">Cancel</span>
                            <span ng-click="updateComment(comment)" class="btn btn-primary btn-sm">Update Comment</span>
                        </div>
                    </div>
                    <div ng-if="comment.get('content')" ng-hide="comment.isEditing">
                        <div marked="comment.get('content') | emoji"></div>
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item clearfix">
                        <div class="pull-right">
                            <span ng-click="$parent.replyTo = ($parent.replyTo == comment ? null : comment)" class="btn btn-default btn-sm" ng-class="{ active: $parent.replyTo == comment }"><i class="fa fa-reply"></i> Reply</span>
                            <star-button comment="comment"></star-button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- comment form -->
<div class="row">
    <div class="col-xs-12 col-sm-11 col-sm-offset-1">
        <div ng-show="topic" class="panel panel-default">
            <div class="panel-heading">
                <div ng-show="!replyTo"><b><i class="fa fa-comment-o"></i> Leave a comment</b></div>
                <div ng-show="replyTo"><b><i class="fa fa-reply"></i> Reply to this comment</b></div>
            </div>
            <div class="panel-body">
                <form ng-submit="postComment()">
                    <markdown-editor content="commentContent"></markdown-editor>
                    <input type="hidden" value="{{ commentContent }}" />
                    <div class="text-right">
                        <span ng-show="replyTo" ng-click="replyTo = null" class="btn btn-default btn-sm">Cancel</span>
                        <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
